p{
	clear: both;
	color: #fff;
	font-family: tahoma, arial;
	padding: 0 25px;
	}

#salon{
	border: 3px solid #f00;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 2px #fff;
	-webkit-box-shadow: 2px 2px 2px #fff;
	box-shadow: 5px 5px 5px #fff;
	margin: 10px 0;
	}
	
body{
	background: #000;
	width: 960px;
	margin: 0 auto;
	}
	
h2{
	float: right;
	font-family: "Alex Brush", arial;
	text-shadow: 4px 4px 2px #fff;
	font-size: 43px;
	padding: 70px 20px 0 0;
	margin: 0;
	}

h1{
	float: left;
	color: #fff;
	padding: 0;
	margin: 0;
	font-family: Ruthie, arial;
	font-weight: normal;
	font-size: 75px

	}
	
#main{
	clear: both;
	background: #f00;
	opacity: 0.85;
	}
	 
a:link{
	color: #f00;
	}

a:active{
	color: #ff0;
	}

a:hover{
	color: #00f;
	}

ul{
	clear: left;
	width: 960px;
	list-style-type: none;
	padding: 30px 10px;
	}

ul li{
	width: 150px;
	float: left;
	}
	
h3, h4{
	color: #fff;
	text-shadow: 3px 3px 3px #f00;
	}

footer{
	color: #fff;
	}

ol{
	color: #fff;
	list-style-type: square;
	}	